<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
    <title>QEP Interface</title>
</head>
<body class="outerContainer">
    <div class="header">
        <h1>Query Execution Plan</h1>
    </div>
    <div>
        <div class="panelContainer">
            <form method="POST">
<!--                <input type="text" list="schemas" class="textArea" size="2" id="selectSchema" name="selectSchema">-->
                    <select class="firstPanel" name="schemas" id="schemas" size="2">
                        {% for item in schema %}
                            <option>
                                {{ item }}
                            </option>
                        {% endfor %}
                    </select>
<!--                </input>-->
                <input class="textArea" style="margin-left:1%;width:45%;" id="specifyQuery" name="specifyQuery" value={{ text }}>
                    <div class="annotate" id="annotate" name="annotate">
                        {% for i in range(4) %}
                            <div class="rect" style="position:absolute;z-index: 1;top:'{{i}}'px">{{i}}</div>
                            <big><big><big><big><big><big><div class="arrow-left" style="float:right;color:blue;z-index: 1;top:'{{i}}'px">&larr;</div></big></big></big></big></big></big>
                        {% endfor %}
                    </div>
                </input>
                <input class="textArea" style="margin-left:63%;" id="visualizeQEP" name="visualizeQEP" value="visualize QEP..."></input>
                <br><br>
                <input class="btn" type="submit" onclick="toggle_display()">
            </form>
        </div>
    </div>

<script type="text/javascript">
    function toggle_display(){
      el = document.querySelector('.annotate');
      el.style.visibility = 'visible'
    }
</script>

</body>
</html>